<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="methods" thread-count="1" verbose="1" >
  <test name="Nopackage" >
    <classes>
		<parameter name="browser" value="${browser}"/>
        <parameter name="islambdatest" value="$(islambdatest)"/>
        <parameter name="isheadless" value="${isheadless}"/>
       	<class name="com.ui.tests.LoginTest" />
    </classes>
  </test>
</suite>